{{outlet}}


<div class="container">
    <div clas="row">
        <div class="col s6">
            {{#md-card title="Heatmap"}}
                {{#md-card-content}}
                  <div class="row">
                      {{md-select content=model
                                  value=selected_dataset_id
                                  label="Name of the dataset"
                                  prompt="Please choose..."
                                  class="col s10"
                                  optionLabelPath="content.title"
                                  optionValuePath="content.id" class="col s6"
                      }}

                  {{#with selected_dataset.aggregations as |aggregations|}}
                    {{md-select content=aggregations
                                  value=selected_aggregation_id
                                  label="Name of the aggregation"
                                  prompt="Please choose..."
                                  class="col s10"
                                  optionLabelPath="content.id"
                                  optionValuePath="content.id" class="col s6"
                    }}
                  {{/with}}

                    {{md-range value=opacity min=0 max=1 step=0.01 name="Opacity" class="col s6"}}
                  </div>

                  {{#if selected_aggregation}}
                    {{#mu-heatmap dataset=selected_aggregation latitude=0 longitude=0 zoom=1 opacity=opacity radius=0.025}}
                      {{tile-layer url="http://a.tile.openstreetmap.org/{z}/{x}/{y}.png"}}
                      {{#marker-cluster-layer}}
                        {{#each markers as |marker|}}
                          {{#marker-layer location=marker.location}}
                              <h3>{{marker.title}}</h3>
                            {{marker.description}}
                          {{/marker-layer}}
                        {{/each}}
                      {{/marker-cluster-layer}}
                    {{/mu-heatmap}}
                  {{/if}}
                {{/md-card-content}}

                {{#md-card-action}}
                  {{md-btn text='Clear' icon='mdi-action-favorite' action='clear' isDisabled=no_dataset}}
                {{/md-card-action}}
            {{/md-card}}
        </div>
    </div>

</div>

<div id="test"></div>

{{!--

--}}

