{{outlet}}


<div class="container">
    <div clas="row">
        <div class="col s6">
            {{#md-card title="Heatmap"}}
                {{#md-card-content}}
                  <div class="row">
                      <h5 class="padded">Select an aggregation</h5>
                      {{md-select content=model
                                  value=selected_dataset_id
                                  label="Name of the dataset"
                                  prompt="Please choose..."
                                  class="col s10"
                                  optionLabelPath="content.title"
                                  optionValuePath="content.id" class="col s6"
                      }}

                      {{#with selected_dataset.sortedAggregations as |aggregations|}}
                        {{md-select content=aggregations
                        value=selected_aggregation_id
                        label="Name of the aggregation"
                        prompt="Please choose..."
                        class="col s10"
                        optionLabelPath="content.title"
                        optionValuePath="content.id" class="col s6"
                        }}
                      {{/with}}
                  </div>
                  <div class="row">
                    <h5 class="padded">Adjust the visualisation</h5>
                    {{md-range value=opacity min=0 max=1 step=0.001 name="Opacity" class="col s6"}}
                    {{md-range value=radius min=0 max=maxRadius step=0.001 name="Radius" class="col s6"}}
                    {{md-range value=blur min=0 max=1 step=0.01 name="Blur" class="col s6"}}
                    {{md-switch checked=scaleRadius name="Scale radius for zoom" class="col s6"}}
                    {{md-switch checked=localExtrema name="Use local extrema for heat" class="col s6"}}
                    {{md-switch checked=showMarkers name="Show markers" class="col s6"}}
                  </div>
                  {{#if selected_aggregation}}
                    <div class="row">
                        <ul class="padded">
                            <li><b>Identifier:</b> {{selected_aggregation.id}}</li>
                            {{#if selected_aggregation.iterations}}
                                <li><b>Iterations:</b> {{selected_aggregation.iterations}}</li>
                            {{/if}}
                            {{#if selected_aggregation.numCentroids}}
                                <li><b>Number of centroids:</b> {{selected_aggregation.numCentroids}}</li>
                            {{/if}}
                            {{#if selected_aggregation.start}}
                                <li><b>Start time:</b> {{selected_aggregation.start}}</li>
                            {{/if}}
                            {{#if selected_aggregation.end}}
                                <li><b>End time:</b> {{selected_aggregation.end}}</li>
                                <li><b>Duration:</b> {{selected_aggregation.duration_str}}</li>
                            {{/if}}
                            {{#if selected_aggregation.gridSize}}
                                <li><b>Grid size:</b> {{selected_aggregation.gridSize}}</li>
                            {{/if}}
                            {{#if selected_aggregation.amount}}
                                <li><b>Expected number of measurements per point:</b> {{selected_aggregation.amount}}</li>
                            {{/if}}
                            {{#if selected_aggregation.aggregationKey}}
                                <li><b>Key of the aggregated value:</b> {{selected_aggregation.aggregationKey}}</li>
                            {{/if}}
                            {{#if selected_aggregation.components}}
                                <li><b>Components:</b> {{selected_aggregation.components_str}}</li>
                            {{/if}}
                            {{#if selected_aggregation.subtrahend}}
                                <li><b>Subtrahend:</b> {{selected_aggregation.subtrahend_str}}</li>
                            {{/if}}
                        </ul>
                    </div>
                  {{/if}}

                  {{#if selected_aggregation}}
                    {{#aggr-heatmap dataset=selected_aggregation latitude=avg_lat longitude=avg_lon zoom=zoom
                                  opacity=opacity radius=radius scaleRadius=scaleRadius useLocalExtrema=localExtrema
                                  blur=blur}}
                      {{tile-layer url="http://a.tile.openstreetmap.org/{z}/{x}/{y}.png"}}
                      {{#if showMarkers}}
                        {{#marker-cluster-layer}}
                          {{#each markers as |marker|}}
                            {{#marker-layer location=marker.location}}
                                <h3>{{marker.title}}</h3>
                              {{marker.description}}
                            {{/marker-layer}}
                          {{/each}}
                        {{/marker-cluster-layer}}
                      {{/if}}
                    {{/aggr-heatmap}}
                  {{/if}}
                {{/md-card-content}}

                {{#md-card-action}}
                  {{md-btn text='Clear' icon='mdi-action-favorite' action='clear' isDisabled=no_dataset}}
                {{/md-card-action}}
            {{/md-card}}
        </div>
    </div>

</div>

<div id="test"></div>

{{!--

--}}

